*{
	margin: 0;
	padding: 0;
}
.slide{
	width: 920px;
	height: 700px;
	position: relative;
	background-color: red;
	overflow: hidden; 
}
.layer1{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}
 img.layer1{
	width: 920px;
	height: 700px;
}
 img.anhnho{
	width: 100px;
	height: 70px;
}
.layer2{
	width: 1400px;
	position: absolute;
	bottom:0px;
	left: 0px;
	z-index: 2;
	background-color: #00000073;
	color: white;
}
.tren{
	width: 920px;
}